<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1><%= token %> </h1>
    <form method="POST" action="/get2" %>>
        <h2>Sign up</h2>
        <label for="email">token</label>
        <input type="text" name="token" required />
        <button type="submit">Submit</button>
    </form>
</body>

</html>